.WeatherInfoHost {
  display: flex;
  align-items: center;
  text-shadow: -1.3983862400054932px 2.09757924079895px 0.6991931200027466px
    rgba(0, 0, 0, 0.1);
  font-size: 1.53vw;
  font-weight: 300;
  line-height: 1;
}

.Icon {
  margin-right: 10px;
}

.Label {
  margin-right: 20px;
}
